
.menu_bt select {
    padding: 15px;
    border: none;
    outline: none;
}

.feedback_text{
    color: #000;
    font-size: 14px;
    text-align: center;
    display: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    font-weight: 400;
}

.gmap_canvas {
    border: solid 2px #367fa9;
}

.control-sidebar-dark, .control-sidebar-dark+.control-sidebar-bg {
    background: #222d32;
    display: none;
}

img{
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0;
}
.info-box{
	display: flex;
}

.bg-dash-sec .info-box-content {   
    width: 200px;
}

.right_sec {   
    text-align: right;
}

.mb-bottam {
    width: 100%;
    text-align: center;
    margin: 0 0 16px 0;
}

.mb-bottam img {
    width: 100px;
}

.mapouter {
    text-align: right;
    height: 290px !important;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 290px !important;
    width: 100%;
}

.user-panel {
    display: flex;
    margin: 20px 8px;
}

.pull-left {
    float: left !important;
    text-align: center!important;
    width: 100px;
    height: 72px;
}


/*.user-panel > .image > img {
    max-width: 50px!important;
    height: 50px!important;
    text-align: center!important;
}

.user-panel>.image>img {
    width: 100% !important; 
    max-width: 70px !important;
    height: auto !important;
}
*/



.pull-left.info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0 0 0 10px;
}

.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a {
    color: #fff!important;
    white-space: nowrap!important;
    width: 100%!important;
    overflow: hidden!important;
    text-overflow: clip!important;
}


.user-panel>.info {
    padding: initial!important;
    line-height: initial!important;
    position: initial!important;
    left: inherit!important;
}


.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: initial!important;
    overflow: initial!important;
}

.user-panel {
    position: initial!important;
    width: initial!important;
    padding: 0!important;
    overflow: hidden!important;
}

.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
    line-height: 64px !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff!important;
    opacity: 1;
}



@media(max-width: 1199px){

.mb-bottam {
    margin: 0 0 40px 0;
    text-align: left;
}

}


@media(max-width: 991px){
	.right_sec {   
    text-align: left;
}
.btn.btn1 {
    color: #fff;
    cursor: pointer;
    display: table-caption;
    margin: 8px 0;
    padding: 6px 40px 0 10px;
}

.bg-dash-sec .info-box-content {
    width: 186px;
}


.info-box-number {  
    font-size: 15px;
}
.diesel-box {
    text-align: left !important;
    padding: 10px 0 10px 10px !important;
    border: solid 2px #367fa9;
}
}


@media(max-width: 767px){
.table.table-striped.table-bordered th a {
    color: #777777;
    font-weight: bold;
    font-size: 10px;
}
.dashbord-table-top .table-title{
	font-size: 16px;
}
.or-text {
     margin: 0;
}
.mb-bottam {   
    text-align: center;
}
}


/**REPORTS**/
/**START FILTER IN REPORT**/
.box_1{
    margin: 0px;
    padding: 0px;
    width: 20%;
    float: left;
}
.box_1 h2{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin-bottom: 7px;
}
.box_1 p{
    margin: 0px;
    padding: 0px;
    color: #040404;
    font-size: 14px;
}

@media(max-width: 1200px){}
@media(max-width: 1199px){}
@media(max-width: 991px){}
@media(max-width: 767px){
    .box_1 {
    margin: 0 0 12px 0; 
    width: 100%;
    float: left;
}
}
@media(max-width: 575px){}
/**END FILTER IN REPORT**/