body {
	font-family: Calibri;
}
* {
	padding: 0;
	margin: 0;
}
.navbar-dark {
	background-color: #000b24;
	padding: 0;
	border-top: 1px solid #6e6e6e;
}
.navbar-expand-md .navbar-nav .nav-link {
	padding-right: 1.2rem;
	padding-left: 1.2rem;
}
.headertop {
	background-color: #00133e;
	padding-top: 15px;
	padding-bottom: 15px;
}
.logo h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 22.39px;
	font-weight: 600;
	margin: 0;
}
.logo p {
	color: #fff;
	text-transform: uppercase;
	font-size: 12.62px;
	font-weight: 600;
	margin-bottom: 0;
}
.logo-text {
	padding-left: 10px;
}
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255);
	font-size: 16px;
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
	color: #fff;
	background-color: #af7e00;
}
.langue a {
	color: #fff;
}
.logo {
	display: flex;
}
.top-menu {
	color: #fff;
}
.top-menu a {
	color: #fff;
	font-size: 14px;
}
.top-menu a:hover {
	text-decoration: none;
}
.carousel-item img {
	width: 100%;
}
.bg {
	background-color: #414141;
	border: 3px solid #fff;
	position: relative;
	top: -50px;
	padding: 15px;
	z-index: 99;
}
.industries {
	display: flex;
}
.industries h1 {
	color: #fff;
	font-size: 57.1px;
	font-weight: 800;
	margin: 0;
}
.industries h4 {
	color: #fff;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	padding-left: 10px;
	line-height: 23px;
	margin: 0;
	padding-top: 10px;
}
.industries {
	display: flex;
	border-right: 3px solid #af7e00;
}
.border0 {
	border: 0 !important;
}

.recent h4 {
	font-size: 28px;
	text-align: center;
	font-weight: 700;
	color: #000;
}
.thead-primery {
	background-color: #02236d;
	color: #fff;
	text-transform: uppercase;
}
.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: #e7d8b2;
}
.pink {
	background-color: #af7e00;
	color: #fff;
	padding: 5px 10px;
}
.pink:hover {
	text-decoration: none;
	color: #fff;
}
.blue {
	background-color: #02236d;
	color: #fff;
	padding: 5px 10px;
}
.blue:hover {
	text-decoration: none;
	color: #fff;
}
.table-striped {
	background-color: #f2f3f3;
}
.viewmore {
	color: #af7e00;
	text-decoration: underline;
}
.viewmore:hover {
	color: #af7e00;
	text-decoration: none;
}
.downloadapp {
	background-color: #b18207;
}
.downloadapp {
	background-color: #b18207;
	padding: 40px 0;
	margin-top: 45px;
	margin-bottom: 45px;
	position: relative;
}
.parivahansuvidha h1 {
	color: #fff;
	font-weight: 700;
}
.parivahansuvidha p {
	color: #fff;
}
.banner-image img {
	position: absolute;
	top: -35px;
	right: 200px;
}
.heading {
	color: #b18207;
	text-transform: uppercase;
	font-weight: 500;
	border-bottom: 1px solid #808080;
	line-height: 50px;
	position: relative;
}
.heading::before {
	width: 136px;
	height: 3px;
	content: "";
	background-color: #062651;
	position: absolute;
	bottom: -2px;
}
.heading span {
	color: #7e7e7e;
}
.welcome p {
	color: #6f6f6f;
}
.welcome a {
	color: #b18207;
	font-weight: 500;
}
.news a {
	color: #b18207;
	font-weight: 500;
	float: right;
}
.date {
	background-color: #eee;
	text-align: center;
	width: 70px;
	position: relative;
	float: left;
	margin-right: 10px;
}
.date h6 {
	position: relative;
	z-index: 99;
	margin: 0;
	color: #fff;
	padding-bottom: 5px;
}
.date img {
	position: absolute;
	left: 0;
	z-index: 000;
	bottom: 0;
}
article h5 {
	margin: 0;
}
article p {
	margin: 0;
	line-height: 20px;
	font-size: 14px;
}
article {
	padding-top: 30px;
}
.nav-pills {
	width: 100%;
}
#pills-tab .nav-item {
	border: 3px solid #062b4c;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #062b4c;
}
.nav-pills .nav-link {
	border-radius: 0;
	text-transform: uppercase;
	font-size: 20px;
	color: #062b4c;
	font-weight: 700;
}
.gallery-image h4 {
	width: 100%;
	background-color: #434242;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 3px 0;
}
.gallery-image img {
	width: 100%;
}
#pills-tabContent {
	width: 100%;
}
.gallerysection {
	padding: 30px 0;
}
footer {
	background-color: #062b4c;
	padding: 30px 0 0 0;
}
.footer-box h5 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 12px;
	position: relative;
	z-index: 999;
	background-color: #062b4c;
}
/*.footer-box h5::before {
	width: 100%;
	height: 2px;
	content: "";
	background-color: #fff;
	position: absolute;
	top: 11px;
	z-index: 000;
}*/
.footer-box ul {
	padding: 0;
	margin:0;
}
.footer-box li {
	list-style: none;
	color: #fff;
}
.footer-box a {
	color: #fff;
}
.footer-box svg {
	color: #b18207;
	float: left;
	margin-right: 9px;
}
.visitor a {
	background-color: #b18207;
	padding: 5px;
}
.visitor {
	margin-top: 10px;
}
.copyright {
	background-color: #000000;
	padding: 20px 0;
	color: #fff;
	text-align: center;
	margin-top: 30px;
}

@media only screen and (max-device-width: 676px) {
    .banner-image {
		display: none;
	}
	.industries {
		display: flex;
		border-right: 0;
		border-bottom: 3px solid #af7e00;
		padding: 10px 0;
	}
	.bg {
		top: 0;
		margin-bottom: 30px;
	}
	.table {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}
.form-section{
	padding-top: 40px;
}
.form-heading {
	background-color: #b18207;
}
.form-heading h3 {
	color: #fff;
	padding: 10px 0;
}
.w100 {
	width: 100%;
}
.button {
	background-color: #00133e;
	border: 0;
	color: #fff;
	padding: 7px 0;
}
.form-main .custom-select {
	border-radius: 0;
	border-color: #00133e;
}
.form-main .form-control {
	border-radius: 0;
	border-color: #00133e;
}
.form-main .custom-file-label {
	border: 1px solid #00133e;
	border-radius: 0;
}
.custom-file-label::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	display: block;
	height: calc(1.5em + .75rem);
	padding: .375rem .75rem;
	line-height: 1.5;
	color: #fff;
	content: "Browse";
	background-color: #00133e;
	border-left: inherit;
	border-radius: 0;
}



/*log in page */
	
	.logo2 {
		width: 100%;
	}
	.logo2 h3 {
		text-transform: uppercase;
		color: #fff;
		margin: 0;
	}
	.logo2 p {
		text-transform: uppercase;
		color: #fff;
		margin: 0;
	}
	.login-form .input-group-text {
		border: 1px solid #ced4da;
		background-color: #fff;
		border-radius: 0;
	}
	.form-control {
		background-color: #e8f0fe;
		border: 1px solid #ced4da;
		border-radius: 0;
	}
	.loginbutton {
		background-color: #533f2c;
		color: #fff;
		border: 0;
		padding: 6px 65px;
	}
	.loginbutton:hover {
		background-color:#614831;
	}
	.footer-image img {
		width: 100%;
		position: fixed;
		bottom: 20px;
	}
	.login-main {
		padding-top: 100px;
	}
/*log in page */




/*13/08/2020*/
	.circular-main {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.circular .table .thead-dark th {
		color: #fff;
		background-color: #b18207;
		border-color: #b18207;
	}
	.circular .table td, .circular .table th {
		border: 1px solid #dee2e6;
	}
	.circular .table tr td:first-child {
		width: 10%;
		text-align: center;
	}
	.circular .table tr td:last-child {
		width: 10%;
		text-align: center;
	}
	.circular .table tr td svg {
		font-size: 18px;
		margin: 0 5px;
	}
	.circular .table tr td .fa-eye {
		color: blue;
	}
	.circular .table tr td .fa-file-download {
		color: black;
	}
	.circular ul {
		padding: 0;
		margin: 0;
	}
	.circular li {
		list-style: none;
		color: #000;
		height: 36px;
		line-height: 15px;
	}
	.circular svg {
		color: #b18207;
		float: left;
		margin-right: 9px;
		width: 18px !important;
		height: 18px;
	}
	.circular-sidebar li {
		list-style: none;
		border-bottom: 1px solid #eee;
		line-height: 45px;
		padding-left: 15px;
	}
	.circular-sidebar li a {
		color:#222;
	}
	.video-box {
		padding-bottom: 20px;
	}
	.signup li {
		background-color: #af7e00;
		list-style: none;
		padding: 10px 20px;
		border-radius: 5px;
		margin-bottom: 30px;
		color: #fff;
	}
	.signup li h3 {
		font-weight: 700;
	}
	.signup li p {
		margin-bottom: 4px;
	}
	.signup-button {
		background-color: #062b4c !important;
		list-style: none;
		padding: 10px 20px;
		border-radius: 5px;
		margin-bottom: 30px;
		color: #fff;
		text-align: center;
	}
	.signup-button a {
		font-weight: 700;
		font-size: 26px;
		margin: 0;
		color: #fff;
		line-height: 69px;
	}
	.signup-button a:hover {
		text-decoration: none;
	}
	.sitemap .tree li {
		color: #333;
		font-size: 14px;
	}
	.sitemap .main_nav {
		float: left;
		/*margin: 0 5px;*/
		text-align: center;
		text-decoration: none;
	}
	.sitemap li {
		list-style-type: none;
		color: #fff;
		position: relative;
		margin-left: 26px;
	}
	.sitemap .tree li a {
		color: #fff;
		font-size: 14px;
		height: 44px;
		padding-top: 10px;
		line-height: 44px;
		padding-top: 0;
	}
	.sitemap .main_nav a {
		background: #337ab7;
		border-radius: 5px;
		color: #fff;
		display: list-item;
		font-size: 14px;
		font-weight: 400;
		padding: 8px 48px;
		width: auto;
		text-decoration: none;
	}
	.sitemap .sub_nav {
		float: left;
		width: 100%;
	}
	.sitemap {
		display: flex;
	}
	.sitemap ul .sub_nav a {
		background: #f4f4f4 none repeat scroll 0 0;
		color: #333;
		float: left;
		font-size: 13px;
		width: 100%;
		text-decoration: none;
	}
	.sitemap label {
	    margin-bottom: 0;
	}
	.sitemap .main_nav ul {
		clear: both;
		float: left;
		margin-bottom: 0;
		margin-left: -24px !important;
		margin-right: 0;
		margin-top: 0;
		padding-top: 0;
		text-decoration: none;
		width: 100%;
	}
/*13/08/2020*/

/* PAGINATION - 03/10/2020 */
.pagination {
    display: inline-block !important;
    padding-left: 0 !important;
    /*margin: 20px 0 !important;*/
    border-radius: 4px !important;
}

.pagination > li {
    display: inline !important;
}